{% extends "base.html" %}
{# {% load staticfiles %} #}
{% load static %}

{% block head %}
<title>Vpportafolio</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
  integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous">
{% endblock %}

{% block content %}
<form method="post">
    <h1>Agregar Curriculum</h1>
    {% csrf_token %}
    <!--<label for="personal">Seleccionar Persona:</label>
    <select id="personal" name="personal_id" required>
        {% for personal in personas %}
            <option value="{{ personal.id }}">{{ personal.nombre }} {{ personal.apellido1 }} {{ personal.apellido2 }}</option>
        {% endfor %}
    </select>-->

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br>

    <label for="ap1">Primer Apellido:</label>
    <input type="text" id="ap1" name="ap1" required><br>

    <label for="ap2">Segundo Aoellido:</label>
    <input type="text" id="ap2" name="ap2" required><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br>

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" required><br>

    <button type="submit">Guardar Curriculum</button>
  </form>

{% if not request.user.is_authenticated %}
{% endif %}

{% if request.user.is_authenticated %}
{% endif %}

{% endblock content %}

{% block scripts %}
{% endblock %}