<!DOCTYPE html>
<html>
<head>
    <title>Crear Habilidad nueva</title>
</head>
<body>
    <center>
    <h1>Crear Proyecto nuevo</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" id="titulo" required><br>

        <label for="lenguaje">Lenguaje:</label>
        <input type="text" name="lenguaje" id="lenguaje" required><br>

        <label for="tecnologias">Tecnologías:</label>
        <input type="text" name="tecnologias" id="tecnologias" required><br>

        <label for="observaciones">Observaciones:</label>
        <input type="text" name="observaciones" id="observaciones" required><br>

        <label for="fecha_proyecto">Fecha del Proyecto:</label>
        <input type="date" name="fecha_proyecto" id="fecha_proyecto" required><br>

        <button type="submit">Crear</button>
        <a href="{% url 'lista_proyectos' %}" class="btn btn-warning btn-sm">Cancelar</a>
    </form>
    </center>
</body>
</html>
