{% extends "base.html" %}
{% load static %}
{% block head %}
<title>habilidades</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" 
integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" 
integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
{% endblock %}

{% block content %}
<br><br>
<center>
    <h1>Editar Habilidad</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="habilidad">Habilidad:</label>
        <input type="text" name="habilidad" id="habilidad" value="{{ habilidad.habilidad }}" required><br>

        <label for="nivel">Nivel:</label>
        <input type="text" name="nivel" id="nivel" value="{{ habilidad.nivel }}" required><br>

        <button type="submit">Guardar</button>
        <a href="{% url 'habilidades' %}" class="btn btn-warning btn-sm">Cancelar</a>
    </form>
</center>
{% endblock content %}
