{% load static %}

<nav class="menu-nav" style="background-color: #F7F9F9 !important;">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if request.user.is_authenticated %}
            <a class="navbar-imagen" href="/" style="padding-top:0px;">
                <img src="{% static 'images/estrella.png' %}" height='48' width='48'>
            </a>
            {% endif %}
        </div>

        <div id="navbar" class="navbar">
            <ul class="navbar-principal">

                <!-- Menú para usuarios no autenticados -->
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Inicio</a></li>

                    <li class="dropdown">
                        <a href="{% url 'empresa' %}" class="menu-despegable">
                            Empresa <span class="dropdown-indicator">▼</span>
                        </a>
                        <ul class="desplegable">
                            <li><a href="{% url 'sobremi' %}">Sobre Mi</a></li>
                            <li><a href="{% url 'habilidades' %}">Habilidades</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'agregar_curriculum' %}">Curriculum</a></li>
                    <li><a href="{% url 'categorias' %}">Categorias</a></li>
                    <li><a href="{% url 'lista_noticias' %}">Listar Noticias</a></li>
                    <li><a href="{% url 'añadir_valoracion' %}">Valorar</a></li>
                    <li><a href="{% url 'listar_valoraciones' %}">Valoraciones</a></li>
                    <li><a href="{% url 'lista_proyectos' %}">Proyectos</a></li>
                {% endif %}

                <!-- Bloque 2: Usuarios autenticados -->
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Inicio</a></li>

                    <li class="dropdown">
                        <a href="{% url 'sobremi' %}" class="menu-despegable">
                            Sobre Mi <span class="dropdown-indicator">▼</span>
                        </a>
                        <ul class="desplegable">
                            <li><a href="{% url 'experiencias' %}">Mis Experiencias</a></li>
                            <li><a href="{% url 'estudios' %}">Mis Estudios</a></li>
                            <li><a href="{% url 'subir_imagenes' %}">Diplomas</a></li>
                        </ul>
                    </li>

                    <li><a href="{% url 'subir_videos' %}">Videos</a> </li>

                    <li class="dropdown">
                        <a href="{% url 'lista_tareas' %}" class="menu-despegable">
                            Tareas <span class="dropdown-indicator">▼</span>
                        </a>
                        <ul class="desplegable">
                            <li><a href="{% url 'crear_tarea' %}">Crear Tarea</a></li>
                        </ul>
                    </li>

                    <li><a href="{% url 'contacto' %}">Enviar Email</a></li>
                    <li><a href="{% url 'listar_entrevistadores' %}">Entrevistadores</a></li>
                    <li><a href="{% url 'seleccionar_entrevistadores' %}">Chat</a></li>
                    <li class="dropdown">
                        <a href="{% url 'listar_calificaciones' %}" class="menu-despegable">
                            Calificaciones<span class="dropdown-indicator">▼</span>
                        </a>
                        <ul class="desplegable">
                            <li><a href="{% url 'añadir_calificaciones' %}">Añadir Calificación</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav-botones">
                {% if not request.user.is_authenticated %}
                    <a class="btn-entar" href='{% url "login" %}'>Entrar</a>
                    <a class="btn-registro" href="{% url 'register' %}">Registro</a>
                {% else %}
                    <li><a href="{% url 'cerrar' %}" class="btn-cerrar">Cerrar Sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Aquí va el enlace a navbar.css -->
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
